<p id="notice"><%= notice %></p>

<h1>Listing Puzzlepieces</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puzzlepiece.each do |puzzlepiece| %>
      <tr>
        <td><%= puzzlepiece.number %></td>
        <td><%= link_to 'Show', puzzlepiece %></td>
        <td><%= link_to 'Edit', edit_puzzlepiece_path(puzzlepiece) %></td>
        <td><%= link_to 'Destroy', puzzlepiece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <div class="puzzlepiece" class="ui-widget-content">
        <p>This puzzle piece number <%= puzzlepiece.number %></p>
      </div>
    <% end %>
  </tbody>
</table>

<script>
  $(function() {
    $( ".puzzlepiece" ).draggable({ snap: true, snap: ".ui-widget-header", snapMode: "inner" }, { containment: "#box-border-layout", scroll: false });
  });
</script>


  <%= render 'welcome/background' %>
  <%= render 'welcome/background' %>
  <%= render 'welcome/background' %>
  <%= render 'welcome/background' %>

<br>

<%= link_to 'New puzzlepiece', new_puzzlepiece_path %>
